<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:p="http://www.springframework.org/schema/p"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
               http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="studentbean" class="com.prasanna.billa.Student">
        <property name="name" value="prasanna kumar"/>
        <property name="phoneNo" value="8790394635"/>
        <property name="address" >
            <bean id="addressInnerBean" class="com.prasanna.billa.Address">
                <property name="addrId" value="121"/>
                <property name="location" value="secuderabd"/>
            </bean>
        </property>
        <property name="courses">
            <list>
                <bean id="coursesBean1" class="com.prasanna.billa.Courses">
                    <property name="courseId" value="1"/>
                    <property name="courseName" value="Java"/>
                </bean>
                <bean id="coursesBean2" class="com.prasanna.billa.Courses">
                    <property name="courseId" value="2"/>
                    <property name="courseName" value=".Net"/>
                </bean>
            </list>
        </property>
    </bean>

    <bean scope="prototype" id="addressBean" class="com.prasanna.billa.Address" p:addrId="1" p:location="hyderabad" />

</beans>